/config/jei/world/
/crash-reports
/downloads
/globalresources
/lightspeed-
/localconfigs
/logs
/mod_data
/saves
/schematics
/screenshots
/shaderpacks
/XaeroWaypoints
/XaeroWorldMap

/.curseclient
/minecraftinstance.json
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/.qmenu_opened.marker