/.mixin.out
/config/jei/world/
/config/blockswap/known_states/
/crash-reports
/downloads
/globalresources
/lightspeed-cache
/localconfigs
/logs
/mod_data
/saves
/schematics
/screenshots
/shaderpacks
/XaeroWaypoints
/XaeroWorldMap
/XaeroWaypoints_BACKUP032021
/not-enough-crashes
/debug

/.curseclient
/minecraftinstance.json
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/.qmenu_opened.marker
journeymap/data/*